<?xml version="1.0"?>
<!--
/**
 * Soclever Socialloginsc Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2014 Soclever (https://www.socleversocial.com)
 * @author       Socleverteam
 * @license      GPL
 * @terms of use https://www.socleversocial.com
 * @version      Release: 1.0
 * @since        Available since Release 1.0
 */ 
 -->

<config>
<modules>
        <Soclever_Socialloginsc>
            <version>1.1.1</version>
        </Soclever_Socialloginsc>
    </modules>
<default>
        <socialloginsc_options>
            <displaysettings>
                <buttonstyle>ic</buttonstyle>  
                <socialloginscboxcaption>Login With:</socialloginscboxcaption>              
            </displaysettings>
        </socialloginsc_options>
    </default>
	
    <frontend>
        <routers>
<soclever_socialloginsc>
				<use>standard</use>
				<args>
					<module>Soclever_Socialloginsc</module>
					<frontName>soclever_socialloginsc</frontName>
				</args>
			</soclever_socialloginsc>

        </routers>
        <layout>
            <updates>
                <Soclever_Socialloginsc>
                    <file>socialloginsc.xml</file>
                </Soclever_Socialloginsc>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
			<socialloginsc>
				<use>admin</use>
				<args>
					<module>Soclever_Socialloginsc</module>
					<frontName>Socialloginsc admin</frontName>
				</args>
			</socialloginsc>
        </routers>
    </admin>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <socialloginsc_options>
                                            <title>Store Social Login Module Section</title>
                                        </socialloginsc_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
	<global>
		<models>
            <socialloginsc>
                <class>Soclever_Socialloginsc_Model</class>
            </socialloginsc>
        </models>
        <resources>
			<soclever_socialloginsc_setup>
				<setup>
					<module>Soclever_Socialloginsc</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</soclever_socialloginsc_setup>
			<soclever_socialloginsc_write>
				<connection>
					<use>core_write</use>
				</connection>
			</soclever_socialloginsc_write>
			<soclever_socialloginsc_read>
				<connection>
					<use>core_read</use>
				</connection>
			</soclever_socialloginsc_read>
		</resources>
        <blocks>
			<socialloginsc>
				<class>Soclever_Socialloginsc_Block</class>
			</socialloginsc>
		</blocks>
		<helpers>
			<socialloginsc>
				<class>Soclever_Socialloginsc_Helper</class>
			</socialloginsc>
		</helpers>
        <events>        
    <admin_system_config_changed_section_socialloginsc_options>   
    <observers>
    <myobserver>
        <type>singleton</type>
        <class>socialloginsc/observer</class>
        <method>writejs</method> 
    </myobserver>
    </observers>
</admin_system_config_changed_section_socialloginsc_options>
</events>
	</global>
</config>