<?xml version="1.0"?>
<config>
	<tabs>
		<socialloginscsetting translate="label" module="socialloginsc">
            <label>Soclever Social Login</label>
            <sort_order>3</sort_order>
        </socialloginscsetting>
    </tabs>
    <sections>
		<socialloginsc_options translate="label" module="socialloginsc">
			<label>SoClever Social Login</label>
			<tab>socialloginscsetting</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1020</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>    
			<groups>
                     <info translate="label">
                    <frontend_model>Soclever_Socialloginsc_Model_Info</frontend_model>
                    <comment><![CDATA[]]></comment>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    </info>
				<apisettings translate="label">
					<label>SocleverSocial Login API Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store> 
					<fields>
						<scsl_appid translate="label">
							<label>Soclever API Key</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver API ]]></comment>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scsl_appid>
                        <scsl_appsecret translate="label">
							<label>Soclever API Secret</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver API Secret ]]></comment>
							<sort_order>16</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scsl_appsecret>
                        <scsl_siteid translate="label">
							<label>Soclever Client ID</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver Client ID ]]></comment>
							<sort_order>17</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scsl_siteid>
                        <scsl_validdomain translate="label">
							<label>Soclever Valid Domain</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver Valid Domain ]]></comment>
							<sort_order>18</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scsl_validdomain>
					</fields>
				</apisettings>
                <displaysettings translate="label">
					<label>Social Login Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store> 
					<fields>
           <buttonstyle translate="label">
           <label>Select Button Style</label>
           <frontend_type>select</frontend_type>    
            <source_model>socialloginsc/providers::getbuttonstyles</source_model>
            <frontend_model>socialloginsc/adminhtml_system_config_form_field_customopt1toggle</frontend_model>   
           <sort_order>200</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </buttonstyle>          
          <buttonstylefb translate="label">
           <label>Facebook</label>
           <frontend_type>text</frontend_type>
           <sort_order>201</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </buttonstylefb>
          <buttonstylegp translate="label">
           <label>Google+</label>
           <frontend_type>text</frontend_type>
           <sort_order>202</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </buttonstylegp>
          <buttonstyletw translate="label">
           <label>Twitter</label>
           <frontend_type>text</frontend_type>
           <sort_order>203</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </buttonstyletw>
          <buttonstyleli translate="label">
           <label>LinkedIN</label>
           <frontend_type>text</frontend_type>
           <sort_order>204</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </buttonstyleli>
          <buttonstyleyh translate="label">
           <label>Yahoo!</label>
           <frontend_type>text</frontend_type>
           <sort_order>205</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </buttonstyleyh>
          <buttonstylepp translate="label">
           <label>PayPal</label>
           <frontend_type>text</frontend_type>
           <sort_order>206</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </buttonstylepp>
          <buttonstylems translate="label">
           <label>Microsoft</label>
           <frontend_type>text</frontend_type>
           <sort_order>207</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </buttonstylems>          
          <buttonsize translate="label">
           <label>Button Size</label>
           <frontend_type>select</frontend_type>    
            <source_model>socialloginsc/providers::getsizes</source_model>   
           <sort_order>307</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </buttonsize>
           <socialloginscproviders translate="label">
           <label>Select Providers</label>
           <frontend_type>multiselect</frontend_type>    
            <source_model>socialloginsc/providers::getloginproviders</source_model>   
           <sort_order>308</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscproviders>
          <socialloginscboxcaption translate="label">
           <label>Login Box Caption</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[Text to display on social login box i.e Social Login By]]></comment>    
           <sort_order>309</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscboxcaption>
          <socialloginscpowerby translate="label">
           <label>Show Powered by SoClever</label>
           <frontend_type>select</frontend_type>    
           <source_model>socialloginsc/providers::showpoweredby</source_model>              
           <comment><![CDATA[At the bottom of login box will show "Powered By Socleversocial.com"]]></comment>    
           <sort_order>310</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscpowerby>
          <socialloginregemail translate="label">
           <label>Send welcome email?</label>
           <frontend_type>select</frontend_type>    
           <source_model>adminhtml/system_config_source_yesno</source_model>
           <sort_order>311</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginregemail>
          <socialloginscfbappid translate="label">
           <label>Facebook App. ID</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[Facebook Application ID]]></comment>    
           <sort_order>312</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscfbappid>          
          <socialloginscfbsecretkey translate="label">
           <label>Facebook App. Secret</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[Facebook Application Secret]]></comment>    
           <sort_order>313</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscfbsecretkey>
          <socialloginscppappid translate="label">
           <label>Paypal Client ID</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[Paypal Client ID]]></comment>    
           <sort_order>314</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscppappid>          
          <socialloginscppsecretkey translate="label">
           <label>Paypal Secret</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[Paypal Application Secret]]></comment>    
           <sort_order>315</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscppsecretkey>
          <socialloginscgpappid translate="label">
           <label>Google+ Client ID</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[Google+ Client ID]]></comment>    
           <sort_order>316</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscgpappid>          
          <socialloginscgpsecretkey translate="label">
           <label>Google+ Client Secret</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[Google+ Client Secret]]></comment>    
           <sort_order>317</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscgpsecretkey>
          <socialloginscliappid translate="label">
           <label>LinkedIN Client ID</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[LinkedIN Client ID]]></comment>    
           <sort_order>318</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscliappid>          
          <socialloginsclisecretkey translate="label">
           <label>LinkedIN Client Secret</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[LinkedIN Client Secret]]></comment>    
           <sort_order>319</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginsclisecretkey>
          <socialloginsctwappid translate="label">
           <label>Twitter Consumer Key (API Key)</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[Twitter Consumer Key (API Key)]]></comment>    
           <sort_order>320</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginsctwappid>          
          <socialloginsctwsecretkey translate="label">
           <label>Twitter Consumer Secret (API Secret)</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[Twitter Consumer Secret (API Secret)]]></comment>    
           <sort_order>321</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginsctwsecretkey>
          <socialloginscmsappid translate="label">
           <label>Microsoft Client ID</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[Microsoft Client ID]]></comment>    
           <sort_order>322</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscmsappid>          
          <socialloginscmssecretkey translate="label">
           <label>Microsoft Client Secret</label>
           <frontend_type>text</frontend_type>    
           <comment><![CDATA[Microsoft Client Secret]]></comment>    
           <sort_order>323</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialloginscmssecretkey>          
          </fields>           
	</displaysettings>
    		</groups> 
		</socialloginsc_options>		
	</sections>
</config>