<?xml version="1.0"?>
<config>
	<tabs>
		<socialloginsetting translate="label" module="sociallogin">
            <label>Soclever Social Login</label>
            <sort_order>3</sort_order>
        </socialloginsetting>
    </tabs>
    <sections>
		<sociallogin_options translate="label" module="sociallogin">
			<label>Soclever Social Login</label>
			<tab>socialloginsetting</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1020</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>    
			<groups>
				<apisettings translate="label">
					<label>SocleverSocial Login API Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store> 
					<fields>
						<scsl_appid translate="label">
							<label>Soclever API Key</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver API ]]></comment>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scsl_appid>
                        <scsl_appsecret translate="label">
							<label>Soclever API Secret</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver API Secret ]]></comment>
							<sort_order>16</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scsl_appsecret>
                        <scsl_siteid translate="label">
							<label>Soclever Client ID</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver Client ID ]]></comment>
							<sort_order>17</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scsl_siteid>
                        <scsl_validdomain translate="label">
							<label>Soclever Valid Domain</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver Valid Domain ]]></comment>
							<sort_order>18</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scsl_validdomain>
					</fields>
				</apisettings>
                <displaysettings translate="label">
					<label>Soclever Social Login Display Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store> 
					<fields>
           <buttonstyle translate="label">
           <label>Select Button Style</label>
           <frontend_type>radios</frontend_type>    
            <source_model>sociallogin/providers::getbuttonstyles</source_model>   
           <sort_order>200</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </buttonstyle>
          <buttonsize translate="label">
           <label>Button Size</label>
           <frontend_type>select</frontend_type>    
            <source_model>sociallogin/providers::getsizes</source_model>   
           <sort_order>199</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </buttonsize>
          </fields>           
	</displaysettings>
    <currentpreview translate="label">
					<label>Soclever Social Login Preview</label>
					<frontend_type>text</frontend_type>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store> 
					<fields>
           <previewshow translate="label">
           <label>Chosen Providers and Current Preview</label>                          
             <frontend_model>sociallogin/adminhtml_positions</frontend_model> 
              <comment><![CDATA[Your chosen networks on socleversocial.com dashboard and current preview ]]></comment>  
           <sort_order>201</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </previewshow>
          </fields>
    </currentpreview>    
			</groups> 
		</sociallogin_options>		
	</sections>
</config>